{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# Packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

echo "Installing/upgrading global bun packages..."

{{ range .packages.universal.bun_global -}}
echo "Ensuring latest version: {{ . }}"
bun install -g {{ . | quote }}
{{ end -}}
{{ end -}}
